<%= form_with(model: label, local: true) do |form| %>
  <% if label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
      <% label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <% Label.all.each do |label| %>
      <%= form.check_box :label_ids,{ multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <%= label.name %>
    <% end %>
   </div>

  <div class="action">
    <%= form.submit class: 'label'%>
  </div>
<% end %>
