<div class="mx-auto" style="width: 200px; mt-30">
  <div class="user-info">
  <p>
    <strong>Name:</strong>
    <%=@user.name %>
  </p>

  <p>
    <strong>Details:</strong>
    <%=@user.email %>
  </p>

  <p>
    <strong>No. of tasks</strong>
    <%= @user.tasks.count %>
  </p>
  <hr>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Priority</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.Details %></td>
          <td><%= task.Deadline.strftime('%Y/%-m/%-d') %></td>
          <td><%= task.status %></td>
          <td><%= task.priority %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <a>User admin account? <%= @user.admin? ? "Yes":"No" %></a>
  </p>
 <p><%= link_to 'Back', admin_users_path, class:"btn btn-outline-primary btn-sm" %></p>
</div>
</div>
